<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" src="/javascripts/util.js" charset="utf-8"></script>
  </head>
  <body>

	<canvas id="myCanvas" width="1100px" height="450px"></canvas>
	<div id="button_area">
		<button id="bubble_sorting">Bubble</button>
		<button id="quick_sorting">Quick</button>
	</div>

	<script type="text/javascript" src="/javascripts/canvas.js" charset="utf-8"></script>
	<script type="text/javascript" src="/javascripts/bubble.js" charset="utf-8"></script>
	<script type="text/javascript">
		document.getElementById("button_area").onclick = function(evt){
			sorting[evt.target.id]();
		}
	</script>
  </body>
</html>
